export CPLUS_INCLUDE_PATH=$(brew --prefix gdal)/include
export C_INCLUDE_PATH=$(brew --prefix gdal)/include
export LDFLAGS="-L$(brew --prefix gdal)/lib"
export CPPFLAGS="-I$(brew --prefix gdal)/include"
export PKG_CONFIG_PATH=$(brew --prefix gdal)/lib/pkgconfig

# pyenv install 3.12.0
pyenv local 3.12.0

pyenv virtualenv 3.12.0 test-env-2
pyenv local test-env-2

layout pyenv
